<form class="form" [formGroup]="formGroup" (change)="validate()" >
  <div class="col-3">
    <div class="input-group">
      <mat-form-field class="field">
        <mat-label>Firstname</mat-label>
        <input matInput type="text" value="" formControlName="firstname" required>
      </mat-form-field>
    </div>
  </div>
  <div class="col-3">
    <div class="input-group">
      <mat-form-field class="field">
        <mat-label>Lastname</mat-label>
        <input matInput type="text" value="" formControlName="lastname" required>
      </mat-form-field>
    </div>
  </div>
  <div class="col-3">
    <div class="input-group">
      <mat-form-field class="field">
        <mat-label>City</mat-label>
        <input matInput type="text" value="" formControlName="city" required>
      </mat-form-field>
    </div>
  </div>
  <div class="col-3">
    <div class="input-group">
      <mat-form-field class="field">
        <mat-label>Country</mat-label>
        <input matInput type="text" value="" formControlName="country" required>
      </mat-form-field>
    </div>
  </div>
  <div class="col-3">
    <div class="input-group">
      <mat-form-field class="field">
        <mat-label>Street</mat-label>
        <input matInput type="text" value="" formControlName="street" required>
      </mat-form-field>
    </div>
  </div>
  <div class="col-3">
    <div class="input-group">
      <mat-form-field class="field">
        <mat-label>Street number</mat-label>
        <input matInput type="text" value="" formControlName="streetNo" required>
      </mat-form-field>
    </div>
  </div>
  <div class="col-3">
    <div class="input-group">
      <mat-form-field class="field">
        <mat-label>Flat number</mat-label>
        <input matInput type="text" value="" formControlName="homeNo">
      </mat-form-field>
    </div>
  </div>
  <div class="col-3">
    <div class="input-group">
      <mat-form-field class="field">
        <mat-label>Zip code</mat-label>
        <input matInput type="text" value="" formControlName="zipCode" required>
      </mat-form-field>
    </div>
  </div>
</form>
