<app-search></app-search>


<app-filter></app-filter>
<mat-nav-list>
  <a mat-list-item (click)="showDetails(product.id)" *ngFor="let product of products" style="height: 110px">
      <div class="" style="width: 100px">
        <img width="90" height="90" alt="Red dot" [src]="sanitize(product.thumbnail)"/>
      </div>
      <div class="col-10 " >
        <span style="font-size: 18px"><b>{{product.name}}</b></span><br>
        <span style="font-size: 12px"> {{getProductParameters(product)}}</span>
      </div>
      <div class="col-2 " style="text-align: right; ">
        <span>{{product.netto}} $</span>
      </div>
  </a>
</mat-nav-list>

<div style="width: 100%; text-align: center; padding: 20px 0">
  <button mat-raised-button (click)="loadMore()">Load more</button>
</div>
