
<mat-expansion-panel [(expanded)]="isExpanded">
  <mat-expansion-panel-header>
    Filters
  </mat-expansion-panel-header>
  <div class="row">
    <form [formGroup]="formGroup"></form>
    <ng-container *ngIf="actualFilter">
      <ng-container *ngFor="let option of actualFilter.options">
        <div class="col-4">
          <mat-form-field>
            <mat-label>{{option.name}}</mat-label>
            <mat-select [formControl]="formGroup.get(option.name)" multiple>
              <mat-option *ngFor="let value of option.values" [value]="value">{{value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <mat-action-row>
    <button mat-button color="accent" (click)="loadResults()">Filter</button>
  </mat-action-row>
</mat-expansion-panel>
