<div class="container">
  <div class="row">
    <form class="form" [formGroup]="formGroup">
      <div class="col-9">
        <mat-form-field style="width: 100%">
          <mat-label>Category</mat-label>
          <mat-select formControlName="group" required (selectionChange)="checkIsCategorySelected()">
            <mat-option *ngFor="let item of categories" [value]="item.path" >
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <mat-label >Name of product</mat-label>
          <input matInput formControlName="name" required>
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <mat-label >Serial number</mat-label>
          <input matInput formControlName="serialNumber" required>
        </mat-form-field>
        <mat-form-field style="width: 100%; ">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Description of the product" rows="10" formControlName="description"></textarea>
        </mat-form-field>
      </div>
    <div class="col-3">
      <mat-form-field style="width: 100%">
        <mat-label>Tax %</mat-label>
        <input matInput type="number" min="0" max="100" formControlName="tax" value="23" required (change)="updateBrutto()">
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label >Netto price</mat-label>
        <input matInput type="number" min="0" formControlName="netto" required (change)="updateBrutto()">
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>Brutto price</mat-label>
        <input matInput type="number" min="0" formControlName="brutto" >
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>Quantity</mat-label>
        <input matInput type="number" min="0" formControlName="quantity" required>
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>Warranty type</mat-label>
        <mat-select formControlName="warrantyType" (selectionChange)="updateWarrantyPeriod()">
          <mat-option value="NO_WARRANTY" >No warranty</mat-option>
          <mat-option value="SELLER" >Seller</mat-option>
          <mat-option value="LIFETIME" >Liftime</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>Warranty period</mat-label>
        <input matInput type="number" min="0" formControlName="warrantyPeriod" required >
      </mat-form-field>
    </div>

    </form>
    <div class="col-12">
      <div class="col-6">
        Parameters
      </div>
      <div class="col-6 right">
        <button mat-mini-fab color="accent" aria-label="Add parameter" (click)="addParameter()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="col-12" *ngFor="let parameter of parameters">
        <mat-form-field style="margin-right: 10px">
          <mat-label>Parameter</mat-label>
          <input matInput type="text" [(ngModel)]="parameter.name">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Value</mat-label>
          <input type="text" matInput [(ngModel)]="parameter.selectedValue" [matAutocomplete]="auto"> <!--(change)="setSelectedOption(parameter, $event.target.value)//noinspection UnresolvedVariable">-->
          <mat-autocomplete #auto="matAutocomplete"> <!--(optionSelected)="setSelectedOption(parameter, $event.option.value)">-->
            <mat-option *ngFor="let option of parameter.values" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button mat-icon-button aria-label="Delete parameter" (click)="deleteParameter(parameter)">
          <mat-icon>delete</mat-icon>
        </button>

      </div>
      <div class="col-12 right">

      </div>
    </div>
    <div class="col-12 right">
      <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
    </div>
  </div>
</div>
