<form class="form" [formGroup]="formGroup" >
    <mat-dialog-content>
      <div class="col-3">
        <div class="input-group">
          <mat-form-field class="field">
            <mat-label>Old password</mat-label>
            <input matInput type="password" value="" formControlName="oldPassword" required>
          </mat-form-field>
        </div>
      </div>
      <div class="col-3">
        <div class="input-group">
          <mat-form-field class="field">
            <mat-label>New password</mat-label>
            <input matInput type="password" value="" formControlName="newPassword" required>
          </mat-form-field>
        </div>
      </div>
      <div class="col-3">
        <div class="input-group">
          <mat-form-field class="field">
            <mat-label>Confirm new password</mat-label>
            <input matInput type="password" value="" formControlName="confirmPassword" required>
          </mat-form-field>
        </div>
      </div>
    </mat-dialog-content>
  <mat-dialog-actions>
    <div class="col-12 right">
      <button mat-raised-button [mat-dialog-close]="true">Close</button>
      <button mat-raised-button color="accent" (click)="changePassword()" [mat-dialog-close]="true">Save</button>
    </div>
  </mat-dialog-actions>

</form>

