<div class="row">
  <div class="col-12">
    <h2>Order
      <ng-container *ngIf="preparedOrder.id">{{preparedOrder.id}}</ng-container>
       - <ng-container *ngIf="preparedOrder.status">{{getStatusString(preparedOrder.status)}}</ng-container>
      </h2>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="unitPrice">
      <th mat-header-cell *matHeaderCellDef> Unit price</th>
      <td mat-cell *matCellDef="let element"> {{element.unitPrice}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity</th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>

    <ng-container matColumnDef="totalPrice">
      <th mat-header-cell *matHeaderCellDef> Total Price</th>
      <td mat-cell *matCellDef="let element"> {{element.totalPrice}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div class="row">
  <div class="col-12" style="margin-left: 0; margin-right: 0; width: 100%">
    <mat-card>
      <mat-card-content>
        <div class="row"
             *ngIf="preparedOrder.delivery.name === 'COURIER' || preparedOrder.delivery.name === 'COURIER_CASH_ON_DELIVERY'">
          <div class="col-12">
            Delivery: {{getDeliveryTitle(preparedOrder.delivery.name)}}<br>
            {{preparedOrder.address.firstname}} {{preparedOrder.address.lastname}}<br>
            {{preparedOrder.address.street}} {{preparedOrder.address.streetNo}}
            <ng-container *ngIf="preparedOrder.address.homeNo">/{{preparedOrder.address.homeNo}}</ng-container>
            <br>
            {{preparedOrder.address.city}} {{preparedOrder.address.zipCode}}<br>
            {{preparedOrder.address.country}}
          </div>
        </div>
        <div class="row" *ngIf="preparedOrder.delivery.name === 'SELF_PICKUP'">
          <div class="col-8">
            Delivery: {{getDeliveryTitle(preparedOrder.delivery.name)}}<br>
            Company address: Poznań, Poznańska 12 60-401, 8am - 4pm
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col-12" style="margin-left: 0; margin-right: 0; width: 100%">
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col-12">
            Payment option: {{getPaymentTitle(preparedOrder.payment)}}<br>
            Delivery price: {{preparedOrder.delivery.price}} $ <br>
            Total price brutto: {{preparedOrder.totalPrice}} $
          </div>

        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
