
<mat-accordion multi="multi">
  <mat-expansion-panel *ngFor="let product of cart.products">
    <mat-expansion-panel-header collapsedHeight="100px" expandedHeight="100px">
      <mat-panel-title>
        <div style="width: 70%; float: left; padding-top: 0">
          <div style="width: 90px; float: left">
            <img width="90" height="90" alt="Red dot" [src]="sanitize(product.thumbnail)"/>
          </div>
          <div style="width: calc(100% - 90px); float: left;padding-top: 35px">
            <span style="margin:10px; font-size: 18px"><b>{{product.name}}</b></span>
          </div>
        </div>
        <div style="width: 30%; float: left; text-align: right; padding-top: 35px">
          <div>
            <span>{{product.count}}x {{product.brutto}} $ = {{(product.count * product.brutto).toFixed(2)}} $</span>
          </div>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div style="text-align: right">
      <button mat-icon-button color="accent" (click)="deleteFromCart(product)"><mat-icon>delete</mat-icon></button>
      <mat-form-field style="width: 70px">
        <input matInput type="number" placeholder="Quantity" value="{{product.count}}" min="1" max="100"
               [disabled]="isQuantityDisabled"
               (change)="updateCart($event, product)">
      </mat-form-field>

      <button mat-button routerLink="item/{{product.id}}">Details</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<mat-divider></mat-divider>
<div class="row">
  <div class="col-12">
    <mat-card>
      <mat-card-title>Delivery options</mat-card-title>
      <mat-card-content>
        <div class="row">
          <mat-radio-group [(ngModel)]="selectedDelivery" (change)="updateTotal()" required>
            <ng-container *ngFor="let delivery of deliveryTypes">
              <div class="col-12">
                <mat-radio-button [value]="delivery">{{getDeliveryTitle(delivery.name)}} - {{delivery.price}}$</mat-radio-button>
              </div>
            </ng-container>
          </mat-radio-group>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12">
    <mat-card>
      <div class="row">
      <mat-card-title>Location</mat-card-title>
      <mat-card-content>
        <ng-container [ngSwitch]="selectedDelivery.name" >
          <ng-container *ngSwitchCase="'COURIER'">
            <app-addres-form (formCompleteEvent)="onAddresForm($event)"></app-addres-form>
          </ng-container>
          <ng-container *ngSwitchCase="'COURIER_CASH_ON_DELIVERY'">
            <app-addres-form (formCompleteEvent)="onAddresForm($event)"></app-addres-form>
          </ng-container>
          <ng-container *ngSwitchCase="'AT_THE_POINT'">
            Not available
          </ng-container>
          <ng-container *ngSwitchCase="'SELF_PICKUP'">
            Pickup available on address: Poznań, Poznańska 12 60-401, 8am - 4pm
          </ng-container>
          <ng-container *ngSwitchDefault>
            Choose delivery option to continue
          </ng-container>
        </ng-container>
      </mat-card-content>
      </div>
    </mat-card>
  </div>
  <div class="col-12">
    <mat-card>
      <mat-card-title>Payment options</mat-card-title>
      <mat-card-content>
        <div class="row">
          <mat-radio-group [(ngModel)]="selectedPayment" required>
            <div class="col-12">
              <mat-radio-button value="1" [disabled]="!isCashOnDelivery">Cash on delivery</mat-radio-button>
            </div>
            <div class="col-12">
              <mat-radio-button value="2" [disabled]="true">PayU</mat-radio-button>
            </div>
            <div class="col-12">
              <mat-radio-button value="3" [disabled]="true">Post transfer</mat-radio-button>
            </div>
          </mat-radio-group>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12">
    <mat-card>
      <mat-card-title>Summary</mat-card-title>
      <mat-card-content>
        <p>Total price netto: {{cartTotalNetto}} $</p>
        <p><b>Total price brutto: {{cartTotalBrutto}} $</b></p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 right">
    <button mat-raised-button color="accent" (click)="goToSummary()">Finalize</button>
  </div>
</div>


