
<form class="form" [formGroup]="formGroup" (change)="validate()" >
  <ng-scrollbar>
  <mat-dialog-content>

  <div class="col-3">
    <div class="input-group">
      <mat-form-field class="field">
        <mat-label>Firstname</mat-label>
        <input matInput type="text" value="" formControlName="firstname" required>
      </mat-form-field>
    </div>
  </div>
  <div class="col-3">
    <div class="input-group">
      <mat-form-field class="field">
        <mat-label>Lastname</mat-label>
        <input matInput type="text" value="" formControlName="lastname" required>
      </mat-form-field>
    </div>
  </div>
    <div class="col-3">
      <div class="input-group">
        <mat-form-field class="field">
          <mat-label>Email</mat-label>
          <input matInput type="email" value="" formControlName="email" required>
        </mat-form-field>
      </div>
    </div>
  <div class="col-3">
    <div class="input-group">
      <mat-form-field class="field">
        <mat-label>City</mat-label>
        <input matInput type="text" value="" formControlName="city">
      </mat-form-field>
    </div>
  </div>
  <div class="col-3">
    <div class="input-group">
      <mat-form-field class="field">
        <mat-label>Country</mat-label>
        <input matInput type="text" value="" formControlName="country" >
      </mat-form-field>
    </div>
  </div>
  <div class="col-3">
    <div class="input-group">
      <mat-form-field class="field">
        <mat-label>Street</mat-label>
        <input matInput type="text" value="" formControlName="street">
      </mat-form-field>
    </div>
  </div>
  <div class="col-3">
    <div class="input-group">
      <mat-form-field class="field">
        <mat-label>Street number</mat-label>
        <input matInput type="text" value="" formControlName="streetNo">
      </mat-form-field>
    </div>
  </div>
  <div class="col-3">
    <div class="input-group">
      <mat-form-field class="field">
        <mat-label>Flat number</mat-label>
        <input matInput type="text" value="" formControlName="homeNo">
      </mat-form-field>
    </div>
  </div>
  <div class="col-3">
    <div class="input-group">
      <mat-form-field class="field">
        <mat-label>Zip code</mat-label>
        <input matInput type="text" value="" formControlName="zipCode">
      </mat-form-field>
    </div>
  </div>
  <div class="col-3">
    <div class="input-group">
      <mat-form-field class="field">
        <mat-label>Confirm by password</mat-label>
        <input matInput type="password" value="" formControlName="password" required>
      </mat-form-field>
    </div>
  </div>

  </mat-dialog-content>
  </ng-scrollbar>
  <mat-dialog-actions>
    <div class="col-12 right">
      <button mat-raised-button [mat-dialog-close]="true">Close</button>
      <button mat-raised-button color="accent" (click)="updateUser()" [mat-dialog-close]="true">Save</button>
    </div>
  </mat-dialog-actions>

</form>

