<div style="width: 100%">
  <div style="width: 20%; float: left">
      <button *ngIf="user == null || user.role == null || user.role == 'TEMP'" mat-raised-button routerLink="login">Login</button>
      <button *ngIf="user == null || user.role == null || user.role == 'TEMP'" mat-raised-button routerLink="register">Register</button>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item routerLink="user-settings">Settings</button>
      <button mat-menu-item *ngIf="user != null && user.role == 'USER'" routerLink="orders">Orders</button>
      <button mat-menu-item *ngIf="user != null && user.role == 'ADMIN'" routerLink="admin-orders">Manage orders</button>
      <button mat-menu-item *ngIf="user != null && user.role == 'ADMIN'" routerLink="admin-product">Add product</button>
      <button mat-menu-item (click)="logout()" >Logout</button>
    </mat-menu>

    <button *ngIf="user != null && user.role != 'TEMP'" mat-icon-button color="accent" aria-label="User menu" [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>
    </button>
<!--    <button *ngIf="user != null && user.role != 'TEMP'" mat-raised-button (click)="logout()" style="margin-right: 5px">Logout</button>-->
      <span *ngIf="user != null && user.role != 'TEMP'">{{user.firstName}} {{user.lastName}}</span>
  </div>
  <div style="width: 60%; float: left; text-align: center;" >SHOPPE</div>
  <div style="width: 20%; float: left; text-align: right">
    <button mat-raised-button routerLink="cart" matBadge="{{cartItemsQuantity}}" matBadgePosition="after" matBadgeColor="accent">Cart <mat-icon>shopping_cart</mat-icon></button>
  </div>
</div>

