<div class="container">
  <app-order [order]="preparedOrder" [dataSource]="dataSource"></app-order>
  <div class="row">
    <div class="col-12 right">
      <button mat-raised-button routerLink="/cart"><mat-icon>keyboard_arrow_left</mat-icon>Back</button>
      <button mat-raised-button color="accent" (click)="confirmOrder()">Confirm</button>
    </div>
  </div>
</div>
