<form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()" style="margin-top: 100px">
  <div class="input-group">
    <mat-form-field class="field">
      <mat-label >E-mail</mat-label>
      <input matInput type="email" value="" formControlName="email" required>
    </mat-form-field>
  </div>
  <div class="input-group">
    <mat-form-field class="field">
      <mat-label>Password</mat-label>
      <input matInput type="password" value="" formControlName="password" required>
    </mat-form-field>
  </div>
  <div class="input-group">
    <mat-form-field class="field">
      <mat-label>Confirm password</mat-label>
      <input matInput type="password" value="" formControlName="passwordConfirmation" required>
    </mat-form-field>
  </div>
  <div class="input-group" style="margin-top: 10px">
    <mat-form-field class="field">
      <mat-label>Firstname</mat-label>
      <input matInput type="text" value="" formControlName="firstName" required>
    </mat-form-field>
  </div>
  <div class="input-group">
    <mat-form-field class="field">
      <mat-label>Lastname</mat-label>
      <input matInput type="text" value="" formControlName="lastName" required>
    </mat-form-field>
  </div>

  <div class="input-group">
    <button mat-raised-button type="submit" >Register</button>
  </div>
  <div class="input-group" style="padding-top: 5px;">
    <a mat-button routerLink="/login">Login page</a>
  </div>
</form>
