<div class="container">
  <div class="row">
    <div class="col-12 center">
      <h2>Home page</h2>
      <p>Most popular products</p>
    </div>
  </div>
  <div class="row" >
    <div class="col-4" *ngFor="let item of items">
      <a (click)="openItem(item.id)">
      <mat-card  style="height: 200px; min-width: 160px">
        <div class="center">
          <img [src]="sanitize(item.thumbnail)" [alt]="item.name">
        </div>
        <mat-card-content>
          <p style="font-size: 13px">{{item.name}}</p>
        </mat-card-content>
      </mat-card>
      </a>
    </div>
  </div>


</div>
