<form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()"  style="margin-top: 100px">
  <div class="input-group">
    <mat-form-field class="field">
      <mat-label>E-mail</mat-label>
      <input matInput type="email" value="" formControlName="email" required>
    </mat-form-field>
  </div>
  <div class="input-group">
    <mat-form-field class="field">
      <mat-label>Password</mat-label>
      <input matInput type="password" value="" formControlName="password" required>
    </mat-form-field>
  </div>
  <div class="input-group">
    <button mat-raised-button type="submit">Login</button>
  </div>
  <div class="input-group" style="padding-top: 5px;">
    <a mat-button routerLink="/register">Registration page</a>
    <a mat-button routerLink="/remind-password">Remind password</a>
  </div>
</form>

