<div class="container">
  <div class="row">
    <div class="col-12 center">
      <form class="form" [formGroup]="formGroup" >
        <div class="input-group">
          <mat-form-field class="field">
            <mat-label>Email</mat-label>
            <input matInput type="email" value="" formControlName="email" required>
          </mat-form-field>
        </div>
        <button mat-raised-button routerLink="/login">Back</button>
        <button mat-raised-button color="accent" (click)="remindPassword()" >Send</button>
      </form>
    </div>
  </div>
</div>
