<div class="container">
  <div class="row">
    <div class="col-6">
      <h2>Personal data</h2>
      <span>Firstname: {{user.firstName}}</span><br>
      <span>Lastname: {{user.lastName}}</span><br>
      <span>E-mail: {{user.email}} <ng-container *ngIf="!user.verified"> (unconfirmed)</ng-container></span><br>
    </div>
    <div class="col-6">
      <h2>Address data</h2>
      <span *ngIf="!user.address">Not filled yet</span>
      <ng-container *ngIf="user.address">
        {{user.address.street}} {{user.address.streetNo}}<ng-container *ngIf="user.address.homeNo">/{{user.address.homeNo}}</ng-container> <br>
        {{user.address.city}} {{user.address.zipCode}}<br>
        {{user.address.country}}
      </ng-container>
    </div>
    <div class="col-12">
      <button mat-raised-button (click)="openUserDataDialog()">Change data</button>
      <button mat-raised-button [disabled]="!user.verified" (click)="openChangePasswordDialog()">Change password</button>
    </div>
  </div>
</div>
