<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-nav-list>
        <a mat-list-item  *ngFor="let order of orders" (click)="goToOrder(order)">
          <div class="col-10 " >
            <span style="font-size: 18px"><b>{{getStatusString(order.status)}}</b></span>
          </div>
          <div class="col-2 " style="text-align: right; ">
            <span>{{order.totalPrice}} $</span>
          </div>
        </a>
      </mat-nav-list>
      <mat-paginator [length]="ordersTotalElements"
                     [pageSize]="5"
                     [pageIndex]="0"
                     [pageSizeOptions]="[5, 10, 20]"
                     (page)="pageEvent = loadPage($event)">
      </mat-paginator>
    </div>
  </div>
</div>
