
<ng-container>
  <mat-toolbar class="header">
    <app-top-bar style="width: 100%"></app-top-bar>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
     <app-menu></app-menu>
    </mat-sidenav>

    <mat-sidenav-content style="height: calc(100vh - 64px)">
      <ng-scrollbar>
        <router-outlet></router-outlet>
      </ng-scrollbar>
    </mat-sidenav-content>
  </mat-sidenav-container>

</ng-container>
