.top-bar{
  height: 40px;
  background-color: orange;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header{
  width: 100%;
}

.sidenav{
  width: 300px;
  height: calc(100vh - 64px);
}

.sidenav-container{
  height: 100%;
}
