<ng-container *ngIf="item != null">
  <div class="container">
    <div class="row">
      <div style="width: 320px; height:300px; float:left;">
        <picture >
          <ng-container *ngIf="item.images">
          <img [src]="sanitize(item.images[0])" alt="Main" class="center-image" style="width:auto; max-width: 300px; max-height: 300px; ">
          </ng-container>
        </picture>
      </div>
      <div style="width: calc(100% - 320px); float:left;">
        <p>{{item.name}}</p>
        <div class="row">
          <div class="col-12">
            <span>Serial number: {{item.serialNumber}}</span>
          </div>
          <div class="col-6">
            <span>Rate: {{getProductRate()}}</span>
          </div>
          <div class="col-6 right">
            <span>Available: {{item.available}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field style="width: 70px">
              <input matInput type="number" placeholder="Quantity" [(ngModel)]="quantity" min="1" max="100" required (change)="validateQuantity()"/>
            </mat-form-field>
          </div>
          <div class="col-6 right" style="padding-top: 10px">
            <button mat-raised-button color="accent" (click)="addToCart(item)" type="submit">Add to cart</button>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <span>Delivery options</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-tab-group>
          <mat-tab label="Description">
            <div class="row">
              <div class="col-12 new-line">
                {{item.description}}
              </div>
            </div>
            <ng-container *ngIf="item.warranty">
            <mat-card>
              <ng-container [ngSwitch]="item.warranty.type">
                <div *ngSwitchCase="'NO_WARRANTY'">
                  This item has no warranty
                </div>
                <div *ngSwitchCase="'SELLER'">
                  This item has seller warranty for {{item.warranty.period}} month/months
                </div>
                <div *ngSwitchCase="'LIFETIME'">
                  This item has lifetime warranty
                </div>
            </ng-container>
            </mat-card>
            </ng-container>
          </mat-tab>
          <ng-container *ngIf="item.images">
          <mat-tab label="Photos">
            <ng-container *ngIf="item.images">
              <div *ngFor="let image of item.images">
                <img  alt="image" [src]="sanitize(image)" style="width: 100%;">
              </div>
            </ng-container>
          </mat-tab>
          </ng-container>
          <mat-tab label="Specification">
            <div class="row">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="parameter">
                  <th mat-header-cell *matHeaderCellDef> Parameter </th>
                  <td mat-cell *matCellDef="let element"> {{element.parameter}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Value </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['parameter', 'name']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['parameter', 'name'];"></tr>
              </table>
            </div>

          </mat-tab>
          <ng-container *ngIf="item.reviews">
          <mat-tab label="Reviews ({{item.reviews.length}})">
            <ng-container *ngFor="let review of item.reviews">
              <mat-card>
                <mat-card-header>
                  <div class="row">
                    <div class="col-9">
                      <b>Użytkownik: {{review.username}}</b>
                    </div>
                    <div class="col-3 right">
                      Ocena: {{review.rate}} / 5
                    </div>
                  </div>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content style="white-space: pre-wrap">
                  "<i>{{review.description}}</i>"
                </mat-card-content>
              </mat-card>
            </ng-container>
          </mat-tab>
          </ng-container>
        </mat-tab-group>
      </div>
      <div class="row right" *ngIf="isAdmin()">
        <button mat-raised-button color="warn" (click)="deleteProduct(item.id)">Delete product</button>
        <button mat-raised-button color="primary" (click)="editProduct()">Edit product</button>
      </div>
    </div>
  </div>
</ng-container>
