<ng-scrollbar>
  <mat-action-list>
    <ng-container *ngIf="categoryTree != null">
      <mat-list-item *ngIf="categoryTree.path.length > 1" ><mat-icon>layers</mat-icon><b>{{actualCategory.name}}</b></mat-list-item>
      <mat-list-item *ngIf="categoryTree.path.length == 1"><mat-icon>layers</mat-icon><b>Categories</b></mat-list-item>
      <button mat-list-item *ngIf="categoryTree.path.length > 1" (click)="previousCategory(categoryTree)" routerLink="items"><mat-icon>keyboard_arrow_left</mat-icon>Back</button>
      <ng-container *ngFor="let category of categoryTree.children">
        <button mat-list-item (click)="getSubcategory(category)" routerLink="items">{{category.name}}</button>
      </ng-container>
    </ng-container>
  </mat-action-list>
</ng-scrollbar>
