<div class="container">
  <app-order [order]="order" [dataSource]="dataSource"></app-order>
  <div class="row">
    <div class="col-12" style="margin-left: 0; margin-right: 0; width: 100%">
      <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col-12">
              Date order placed: {{getDateString(order.createTime)}}<br>
              Date last modified: {{getDateString(order.lastUpdateTime)}}<br>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-12 right">
      <button mat-raised-button routerLink="/admin-orders"><mat-icon>keyboard_arrow_left</mat-icon>Back</button>
      <button mat-raised-button [matMenuTriggerFor]="menu" color="accent">Change status</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="changeStatus('CREATED')">CREATED</button>
        <button mat-menu-item (click)="changeStatus('IN_PROGRESS')">IN PROGRESS</button>
        <button mat-menu-item (click)="changeStatus('PAYMENT_START')">PAYMENT START</button>
        <button mat-menu-item (click)="changeStatus('PAYMENT_FINISH')">PAYMENT FINISH</button>
        <button mat-menu-item (click)="changeStatus('PAYMENT_CANCEL')">PAYMENT CANCEL</button>
        <button mat-menu-item (click)="changeStatus('PAID')">PAID</button>
        <button mat-menu-item (click)="changeStatus('FINISHED')">FINISHED</button>
      </mat-menu>
    </div>
  </div>
</div>
