/* You can add global styles to this file, and also import other style files */
body {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
