<mat-card style="padding: 3px 22px 0;">
  <div class="input-group" >
    <mat-form-field class="field" style="width: calc(100% - 80px)">
      <input matInput type="text" value="" placeholder="Search" [(ngModel)]="searchPhrase" (keyup.enter)="search()">
    </mat-form-field>
    <button mat-icon-button color="accent" aria-label="Clear field" (click)="clearInput()">
      <mat-icon>clear</mat-icon>
    </button>
    <button mat-icon-button color="accent" aria-label="Search" (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</mat-card>
